
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 20px;
}


.form-box {
  width: 700px;
  margin: auto;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.form-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.form-box label {
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #444;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="number"],
.form-box input[type="date"],
.form-box select,
.form-box textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #f5e4e4;
  border-radius: 4px;
  font-size: 14px;
}

.form-box textarea {
  resize: vertical;
  min-height: 80px;
}


.inline {
  margin-top: 6px;
  padding-left: 5px;
}

.inline input {
  margin-right: 6px;
}

.inline label {
  display: inline-block;
  margin-right: 15px;
  font-weight: normal;
}

.inline br {
  margin-bottom: 6px;
}


.form-box button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #09c96f;
  border: none;
  color: #5adf6c;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.form-box button:hover {
  background-color: #1eb7f3;
}
